* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.app {

  width: 100%;

}


header {
  width: 100%;
  height: 10%;
  padding: 0.8rem 3vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
header .logo h1 {
  color: #FDE047;
  font-size: 1.5rem;
  font-weight: 500;
}
header .logo img {
  max-height: 2rem;
}

header .links {
  display: flex;
  gap: 2rem;
  align-items: center;
}
header .yellow-link {
  text-decoration: none;
  color: #fff;
  background: #FACC15;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 1.2rem;
  border-radius: 0.2rem;
}
header .social-link {
  display: flex;
  align-items: center;
}
header .social-link img {
  height: 1.5rem;
}

header .social-media {
  display: flex;
  gap: 1rem;
}


.content {
  display: flex;
  height: 90%;
}
.content .elixir-logo {
  flex: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .elixir-logo img {
  max-height: 28rem;
}

.content .about {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.content .about h1 {
  font-weight: 500;
  font-size: 4rem;
}
.content .about p {
  padding: 0.5rem 3vw;
  font-size: 1.5rem;
}
.content .about #cta {
  border: none;
  text-decoration: none;
  background: #7E22CE;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff; 

  margin-top: 2rem;

  border-radius: 0.2rem;

  padding: 1rem;

  width: 50%;
}


footer {
  width: 98%;
  margin: 0 auto;
  border-top: 1px solid #00000033;
  padding: 1rem;

  margin-top: 10rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
  color: #202020;
}

footer .sm-links {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;

}
footer .footer-link {

  background: #000;
  padding: 1rem;
  border-radius: 9999px;

  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

}

.elixir {
  text-decoration: none;
  color: #7E22CE;
}
.erlang {
  text-decoration: none;
  color: #BE185D;
}

@media (max-width: 768px) {

  .content {
    flex-direction: column;
    gap: 4rem;
  }

  .content .elixir-logo {
    margin-top: 3rem;
  }
  .content .elixir-logo img {
    max-height: 23rem;
  }
  .content .about #cta {
    width: 80%;
  }

  footer .sm-links {
    display: flex;
    gap: 1.5rem;
    margin: 2rem 0;
  
  }

}